body{
    background: url("../images/bg-desktop.svg") no-repeat;
    background-color:  hsl(257, 40%, 49%);
    font-family: 'Open Sans';
    background-size: 83%;
}

.header img{
    margin: 50px 85px;
}

.conteudo{
    display: flex;
    max-width: 1610px;
    
}

.conteudo .image img{
    margin: 60px 85px;
}

.conteudo .texto h1{
    font-size: 40px;
    margin-top: 110px;
    margin-right: 90px;
    color: #ffffff;
    font-weight: 600;
    
}

.conteudo .texto p{
    margin-top: 35px;
    margin-right: 70px;
    font-size: 18px;
    color: #ffffff;
}

.conteudo .texto a{
    display: flex;
    background-color: #FFFFFF;
    color:hsl(257, 40%, 49%);
    border-radius: 50px;
    width: 200px;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 25px;
    transition: 0.3s ease-in-out;
}

.conteudo .texto a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #FFFFFF;
}

.footer{
    display: flex;
    justify-content: end;
    max-width: 1700px
    
}

.footer .social i{
    font-size: 20px;
    margin: -10px 10px;
    transition: 0.3s ease-in-out;
    
}

.social a i{
   border: 2px solid;
   border-radius: 50%;
   padding: 8px;
}

.footer a i:hover{
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

