@media(max-width: 425px){
    body{
        background: url("../images/bg-mobile.svg") no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain; 
    }

    .header img{
        width: 35%;
        margin: 30px;
    }

    .conteudo{
        display: block;
        text-align: center;
    }

    .conteudo .image img{
        width: 80%;
        margin: 35px auto;
    }

  .conteudo .texto h1{
        font-size: 28px;
        margin: 50px auto 20px;
        width: 100%;
        max-width: 300px;
  }

  .conteudo .texto p{
        margin: auto;
        font-size: 16px;
        width: 100%;
        max-width: 300px;
  }

  .conteudo .texto a{
        width: 100%;
        max-width: 200px;
        height: 45px;
        font-size: 14px;
        margin: 25px auto;
  }

  .footer {
        justify-content: center;
        margin: 60px 0;
    }

  .footer .social i{
    font-size: 15px;
    margin: 5px
  }
 
} 